<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>#forgecph</title>

    <!--
      Made with <3 in the heart of Copenhagen, Denmark.
      See humans.txt for additional credits.
      
      Steal like an artist.
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/flexslider.css" type="text/css">

    <style type="text/css" media="screen">
      * {margin: 0; padding: 0;}
      body {background: #15a96f;}

      .flexslider {position: absolute; top: 5%; right: 3%; bottom: 15%; left: 3%; }

      h1 {position: absolute; left: 40px; right: 40px; bottom: 7.5%; text-align: center; color: #fff; font: 900 48px/1em Helvetica, sans-serif;}

      article {padding: 120px 0 0; text-align: center; margin: 0 auto;}
      p {max-width: 50%; margin: 0 auto;}

      p, figure {font: 300 40px/1.2em 'Helvetica', sans-serif; margin-bottom: 40px;}

      footer > img {border-radius: 500px; max-width: 150px;}

      strong {display: block; margin-top: 20px; font: bold 24px Helvetica, sans-serif;}

      .gram {position: relative; padding-top: 0;}
      .gram figure img {max-width: 460px;}
      .gram figure {font-size: 26px;}
      .gram strong {margin-top: 0;}
      .gram footer > img {max-width: 70px;}

      .tag {color: #777;}
      .mention {color: #777; font-weight: normal;}

      .tweet {background: url('/img/twitter.png') no-repeat 50% 35px;}
      .gram {background: url('/img/instagram.png') no-repeat 96% 100%; overflow: hidden;}
      .face {background: url('/img/facebook.png') no-repeat 50% 35px;}

      .flexslider img {width: auto;}
    </style>

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>

  <body>

    <h1>#forgecph</h1>

    <div class="flexslider">
      <ul class="slides">
        <% @tweets.reject(&:retweet?).each do |tweet| %>
          <li>
            <article class="tweet">
              <blockquote>
                <p><%= tweet.full_text.gsub(/(\#\w+)/, '<span class="tag">\1</span>').gsub(/(\@\w+)/, '<span class="mention">\1</span>') %></p>
              </blockquote>
              <footer>
                <img src="<%= tweet.user.profile_image_url(:original) %>" alt="">
                <strong>@<%= tweet.user.screen_name %></strong>
              </footer>
            </article>
          </li>
        <% end %>

        <% @grams.each do |gram| %>
          <li>
            <article class="gram">
              <figure>
                <img src="<%= gram.images.standard_resolution.url %>" alt="">
                <figcaption><%= gram.caption[:text] %></figcaption>
              </figure>
              <footer>
                <img src="<%= gram.user.profile_picture %>" alt="">
                <strong>@<%= gram.user.username %></strong>
              </footer>
            </article>
          </li>
        <% end %>

        <% @faces.each do |face| %>
          <li>
            <article class="face">
              <blockquote>
                <p><%= face[:message] %></p>
              </blockquote>
              <footer>
                <img src="<%#= tweet.user.profile_image_url(:bigger) %>" alt="">
                <strong><%= face[:from][:name] %></strong>
              </footer>
            </article>
          </li>
        <% end %>
      </ul>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    <script defer src="/js/jquery.flexslider-min.js"></script>
    <script>
      $(window).load(function() {
        $('.flexslider').flexslider({
          randomize: true,
          directionNav: false
        });
      });
    </script>

  </body>
</html>